body {
    background-image: url(../pizza.jpegp);
    background-position: left;
    font-family: cursive;
}
.jumbotron{
    background-color:rgb(186, 198, 211);
    text-align: center;
    opacity:0.9;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 2px;
}
.jumbotron h1{
    font-family: 'Times New Roman', Times, serif;
     font-size: 50px;
     font-weight: bolder;
     text-align: center;
     margin-top: 2%;
     font-stretch: extra-expanded;
     color: black;
   }
 .jumbotron p{
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  font-style: italic;

  }
h1{
    font-style: italic;
}
.panel{
    font-weight: bolder;
    color: white;
}
h4{
    font-size: 100px;
    color: aliceblue;
    font-weight:bolder;
}.pizza-types{
    opacity: 0.9;
    border-radius: 2px;
  }

.pizza-types h1{
   margin-top:-1%;
     margin-bottom:2%;
    background-size: 50%;
    font-size: 30px;
    font-weight: bolder;
    color: #d35400;
    text-align: center;

}

.pizza-types h2{
   font-size: 30px;
   font-weight: bolder;

 }

 .pizza-types h2,p{
   padding-left: 2%;
 }
.pizza-types p{
  margin-top: -3%;
}

.pizza-types .btn{
  text-align: right;

  background-color: darkorange;
  border:none;

 }

.tagforpizzatype{
   color: palegreen;
   font-family: cursive;
   font-size: 20px;
   font-weight: bold;
 }

.pizza-types .btn:hover{
   transform: scale(2,2);

  }

  .modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: #000;
    }
  
.modal h4 {
    font-weight: bolder;
}
  
.crust, .size{
    display: inline;
    padding-left: 2%
}
.place-order{
    background-color:#d35400;
    text-align: center;
}
  
.place-order:hover{
    background-color: #e67e22;
}
  
#total{
    font-size: 20px;
    font-weight: bolder;
}
  